@using Services;
@using Idfy.Blazor.DemoSite.Shared

@inject DocumentService DocumentService;


<div class="app-padding">
    <MatAccordion Multi="true">
        @foreach (var signer in DocumentService.Document.Signers)
        {
            <Idfy.Blazor.DemoSite.Client.Pages.Sign.Tabs.Signer.Signer SignerData="@signer"
                                                                       OnExecuteWithErrorHandler="@OnExecuteWithErrorHandler">
            </Idfy.Blazor.DemoSite.Client.Pages.Sign.Tabs.Signer.Signer>
        }
    </MatAccordion>

    @if (DocumentService.Document.Status?.DocumentStatus == null)
    {
        <MatButton Class="full-width btn-margin" OnClick="@AddSigner" TrailingIcon="tag_faces">Add new</MatButton>
    }
</div>



@code {
    List<DemoSigner> SignerList;
    [Parameter]
    EventCallback<Task> OnExecuteWithErrorHandler { get; set; }

    protected override async Task OnInitAsync()
    {
        SignerList = DocumentService.Document.Signers;
    }

    protected void AddSigner(UIMouseEventArgs e)
    {
        DocumentService.AddSigner();
    }


}
