@inherits LayoutComponentBase;
@using Services;
@inject EnvironmentService EnvironmentService;
@inject IUriHelper UriHelper;


<MatThemeProvider Theme="@theme">
    <MatAppBarContainer>
        <MatAppBar Fixed="true">
            <MatAppBarRow>
                <MatAppBarSection>
                    <MatIconButton Icon="menu"></MatIconButton>
                    <MatAppBarTitle>Idfy demo site</MatAppBarTitle>
                </MatAppBarSection>
                <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                    <div>
                        <MatSelect ValueChanged="UpdateEnv" Label="" Outlined="true">
                            @foreach (var env in EnvironmentService.Environments)
                            {
                                <MatOption Value="@env">@env</MatOption>
                            }
                        </MatSelect>
                    </div>
                    
                </MatAppBarSection>
            </MatAppBarRow>
        </MatAppBar>

        <MatAppBarContent>
            <div class="main mat">
                <div class="content px-4 app">
                    @Body
                </div>
            </div>
        </MatAppBarContent>
    </MatAppBarContainer>
</MatThemeProvider>



@functions {
    MatTheme theme = new MatTheme()
    {
        Primary = MatThemeColors.Orange._500.Value,
        Secondary = MatThemeColors.BlueGrey._500.Value
    };
}

@code {
    protected override async Task OnInitAsync()
    {
        await EnvironmentService.Initialize(UriHelper.GetBaseUri());
    }

    protected void UpdateEnv(string value)
    {
        EnvironmentService.CurrentEnvironment = value;
    }
}


